<h1>Saved installation contact information</h1>
<p>
  <strong>Installation:</strong>
  <%= @installation.installation %>
</p>
<p>
  <strong>Email Id:</strong>
  <%= @installation.email %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @installation.address %>
</p>
 
<p>
  <strong>Contact Number:</strong>
  <%= @installation.contact %>
</p>

<p><strong>Sites:</strong><ol>
<% @installation.sites.each do |site| %>
  <li>
          <%= site.name %>
  </li>	     
    <p><%= link_to 'Delete', [site.installation, site], method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %></ol></p>

<h2>Add a site:</h2>
<%= form_for([@installation, @installation.sites.build]) do |f| %>
  <% if @installation.sites.build.errors.any? %>
  <% end %>
   <p>
	<%= f.label :Name %><br>
	<%= f.text_field :name %>
   </p>
   <p>
	<%= f.submit %>
   </p>
<% end %>
<%= link_to 'Back', installations_path %>
<%= link_to 'Edit', edit_installation_path(@installation) %>
<p><a href="#top">Return to Top</a></p>
