<h1>Saved Installation Contact Information</h1>
<p>
  <strong>Installation:</strong>
  <%= @installation.installation %>
</p>
<p>
  <strong>Email Id:</strong>
  <%= @installation.email %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @installation.address %>
</p>
 
<p>
  <strong>Contact Number:</strong>
  <%= @installation.contact %>
</p>

<%= link_to 'Back', installations_path %>
<%= link_to 'Edit', edit_installation_path(@installation) %>
<p><a href="#top">Return to Top</a></p>
