
<% if current_user.login_approval == 'Yes' %>

<% if current_user.role == 'Admin' or current_user.role == 'Volunteer' %>
<h1>Listing photos</h1>
<p><u><b><%= link_to '+New photo', new_article_path %></b></u></p>
 
<table id="customers">
  <tr>
    <th>Language</th>
    <th>Category</th>
    <th>English Text</th>
    <th>Phonetic Text</th>
    <th>Picture</th>
    <th colspan="3"></th>
  </tr>
 
    <div id="articles">
        <%= render :partial => 'article', collection: @articles %>
    </div>
</table>
<hr/>
<% end %>

<% if current_user.role == 'Contributor' %>
<% if current_user.lang == nil %> <!-- do nothing as 1 contributor can contribute to 1 language only -->
<% else %>
<h1>Listing photos for <%= current_user.lang %> language</h1>
<p><u><b><%= link_to '+New photo', new_article_path %></b></u></p>
 
<ol>
<% @articles.each do |article| %>
<% if article.language.present? %>
<% if article.language.name == current_user.lang %>
<li>
<p>
  <strong>Picture:</strong>
  <%= image_tag(article.picture_url, :width => 400) if article.picture.present? %>
</p>
<p>
  <strong>Phonetic Text:</strong>
  <%= article.phonetic %>
</p>
<p>
  <strong>English Text:</strong>
  <%= article.english %>
</p> 
<p>
  <strong>Category:</strong>
  <%= article.category %>
</p>
<p><%= link_to 'Show', article_path(article) %> &nbsp;&nbsp;
<%= link_to 'Edit', edit_article_path(article) %></p>
<hr/>
<% end %>
<% end %>
<% end %>
</ol>
<% end %>
<% end %>

<% end %>

