
<% if current_user.login_approval == 'Yes' %>
<% if current_user.role == 'Admin' or current_user.role == 'Volunteer' or current_user.role == 'Contributor' %>
<h1>Saved photo </h1>
<p>
  <strong>Language:</strong>
  <%= @article.language.name if @article.language.present? %>
</p>
<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>
<p>
  <strong>English Text:</strong>
  <%= @article.english %>
</p>
 
<p>
  <strong>Phonetic Text:</strong>
  <%= @article.phonetic %>
</p>
 
<p>
  <strong>Picture:</strong>
  <%= image_tag(@article.picture_url, :width => 400) if @article.picture.present? %>
</p>

<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
<% end %>
