
<% if current_user.login_approval == 'Yes' %>
<% if current_user.role == 'Admin' %>
<%= form_for @installation do |f| %>
  <% if @installation.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@installation.errors.count, "error") %> prohibited this post contact information from being saved:</h2>
	     <ul>
		 <% @installation.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
	         <% end %>
	     </ul>
     </div>
   <% end %>
  <p>
    <%= f.label :Post %><br>
    <%= f.text_field :installation %>
  </p>

  <p>
    <%= f.label :Email_Id %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :Address %><br>
    <%= f.text_area :address %>
  </p>

  <p>
    <%= f.label :Contact_Number %><br>
    <%= f.text_field :contact %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>
<% end %>
