
<% if current_user.login_approval == 'Yes' %>
<% if current_user.role == 'Admin' %>
<h1>Saved post contact information</h1>
<p>
  <strong>Post:</strong>
  <%= @installation.installation %>
</p>
<p>
  <strong>Email Id:</strong>
  <%= @installation.email %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @installation.address %>
</p>
 
<p>
  <strong>Contact Number:</strong>
  <%= @installation.contact %>
</p>

<p><strong>Sites:</strong><ol>
<% @installation.sites.each do |site| %>
  <li>
          <%= site.name %>
  </li>	     
<% end %></ol></p>

<%= link_to 'Back', installations_path %>
<%= link_to 'Edit', edit_installation_path(@installation) %>
<% end %>
<% end %>
