
<h1>Listing articles</h1>
<p><u><b><%= link_to '+New article', new_article_path %></b></u></p>
 
<!-- table class="reference" style="width:45%; border:5; cellpadding:4; cellspacing:3" -->
<table id="customers">
  <tr>
    <th>Language</th>
    <th>Category</th>
    <th>English Text</th>
    <th>Phonetic Text</th>
    <th>Picture</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.language_id %></td>
      <td><%= article.category %></td>
      <td><%= article.english %></td>
      <td><%= article.phonetic %></td>
      <td><% if article.picture.present? %>Uploaded<% end %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<hr/>
