<h1>Listing Languages</h1>
<p><u><b><%= link_to '+New language', new_language_path %></b></u></p>
 
<table class="reference" style="width:45%; border:5; cellpadding:4; cellspacing:3">
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
  <% @languages.each do |language| %>
    <tr>
      <td><%= language.name %></td>
      <td><%= link_to 'Articles', language_path(language) %></td>
      <td><%= link_to 'Edit', edit_language_path(language) %></td>
      <td><%= link_to 'Delete', language_path(language), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<hr/>
<p><a href="#top">Return to Top</a></p>
