<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :Username %><br />
  <%= f.text_field :username %></div>

  <div><%= f.label :First_Name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :Last_Name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :Role %> ( cannot change ) &nbsp;
  <%= f.radio_button :role, @user.role, checked:true %> 
  <%= label :role_current, @user.role %>
  </div>

  <div><%= f.label :Gender %> <br/>
  <%= f.radio_button :gender, 'Male', checked:true %> 
  <%= label :gender_male, 'Male' %>
  <%= f.radio_button :gender, 'Female' %>
  <%= label :gender_female, 'Female' %>
  </div>

  <div><%= f.label :Email_id %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :Location %> <br/>
    <%= f.select :location, options_for_select([[@user.location, @user.location], ['', ''], ['Micronesia & Palau' ,'Micronesia & Palau'], ['Azerbaijan', 'Azerbaijan'],
		    ['Albania' ,'Albania'],]) %>
    <!-- add the names of installations/posts in the list here manually-->
  </div>

  <div><%= f.label :Language_Contribution %> <br/>
    <%= f.select :language_contribution, options_for_select([[@user.language_contribution, @user.language_contribution], ['All', 'All'], ['Amharic' ,'Amharic'], ['Chuukese', 'Chuukese'],
		    ['Welsh' ,'Welsh'],]) %>
    <!-- add the names of languages in the list here manually-->
  </div>

  <div><%= f.label :Contact_Number %><br />
  <%= f.text_field :contact %></div>

  <div><%= f.label :Login_Approval %> ( cannot change ) &nbsp;
  <%= f.radio_button :login_approval, @user.login_approval, checked:true %> 
  <%= label :login_approval, @user.login_approval %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br/>
  <div>Fill the next 2 fields only if you want to change your password otherwise leave these fields blank.</div><br />
  <div><%= f.label :New_Password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :New_Password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %>
  <i> ( If you don't want to change your username or password then leave this field blank. ) </i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
