
<% if current_user.login_approval == 'Yes' %>
<% if current_user.role == 'Admin' or current_user.role == 'Volunteer' or current_user.role == 'Contributor' %>
<h1>Photos under <%= @language.name %> language </h1>
<br/>
<ol>
<% @language.articles.each do |article| %><li>
<p>
  <strong>Category:</strong>
  <%= article.category %>
</p>
<p>
  <strong>English Text:</strong>
  <%= article.english %>
</p> 
<p>
  <strong>Phonetic Text:</strong>
  <%= article.phonetic %>
</p>
<p>
  <strong>Picture:</strong>
  <%= image_tag(article.picture_url, :width => 600) if article.picture.present? %>
</p>
<% end %></ol>

<%= link_to 'Back', languages_path %>
<% end %>
<% end %>
