
<% if current_user.login_approval == 'Yes' %>
<% if current_user.role == 'Admin' or current_user.role == 'Volunteer' %>
<h1>Saved site information</h1>
<p>
  <strong>Post:</strong>
  <%= @site.installation.installation %>
</p>
<p>
  <strong>Site name:</strong>
  <%= @site.name %>
</p>
<p><strong>Volunteers:</strong><ol>
<% @site.volunteers.each do |volunteer| %>
  <li>
          <%= volunteer.vname %>&nbsp;
<% if current_user.role == 'Admin' %>
	  <%= link_to 'Delete', [volunteer.site, volunteer], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  </li>	     
<% end %></ol></p>

<% if current_user.role == 'Admin' %>
<h2>Add a volunteer name:</h2>
<%= form_for([@site, @site.volunteers.build]) do |f| %>
  <% if @site.volunteers.build.errors.any? %>
  <% end %>
   <p>
	<%= f.label :Volunteer_Name %><br>
	<%= f.text_field :vname %>
   </p>
   <p>
	<%= f.submit %>
   </p>
<% end %>
<% end %>

<p><strong>Contributors:</strong><ol>
<% @site.contributors.each do |contributor| %>
  <li>
          <%= contributor.name %>&nbsp;<%= link_to 'Delete', [contributor.site, contributor], method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>	     
<% end %></ol></p>

<h2>Add a contributor name:</h2>
<%= form_for([@site, @site.contributors.build]) do |f| %>
  <% if @site.contributors.build.errors.any? %>
  <% end %>
   <p>
	<%= f.label :Contributor_Name %><br>
	<%= f.text_field :name %>
   </p>
   <p>
	<%= f.submit %>
   </p>
<% end %>
<%= link_to 'Back', sites_path %>
<%= link_to 'Edit', edit_site_path(@site) %>
<% end %>
<% end %>
