
<% if current_user.login_approval == 'Yes' %>
<% if current_user.role == 'Admin' %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this volunteer contact information from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :First_Name %><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :Last_Name %><br/>
    <%= f.text_field :last_name %>
  </p>
 
  <p>
    <%= f.label :Role %><br/>
    <%= f.select :role, options_for_select([[@user.role, @user.role], ['Contributor' ,'Contributor'], ['Volunteer', 'Volunteer']]) %>
  </p>

  <p>
    <%= f.label :Login_Approval %><br/>
    <%= f.select :login_approval, options_for_select([[@user.login_approval, @user.login_approval], ['Yes' ,'Yes'], ['Not Yet', 'Not Yet']]) %>
  </p>

  <p>
    <%= f.label :Email %><br/>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :Location %>: 
    <%= f.select :location, options_for_select([[@user.location, @user.location], ['', ''], ['Micronesia & Palau' ,'Micronesia & Palau'], ['Azerbaijan', 'Azerbaijan'],
		    ['Albania' ,'Albania'],]) %>
    <!-- add the names of installations in the list here -->
  </p>

  <p>
    <%= f.label :Contact_Number %><br/>
    <%= f.text_field :contact %>
  </p>

  <p>
    <%= f.label :Gender %><br/>
    <%= f.text_field :gender %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<% end %>
<% end %>
