
<% if current_user.role == 'Admin' %>

<!--- Volunteers table for admin-->
<h1><a id='V'>Listing Volunteers</a></h1>
<a href='#C'>Jump to list of Contributors</a>
 
<table id="customers">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Location</th>
    <th>Contact Number</th>
    <th>Role</th>
    <th>Login Approval</th>
    <th colspan="5"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
  <% if user.role == 'Volunteer' %>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= user.gender %></td>
      <td><%= user.email %></td>
      <td><%= user.location %></td>
      <td><%= user.contact %></td>
      <td><%= user.role %></td>
      <td><%= user.login_approval %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Approve', user_path(user), method: :approve, data: { confirm: 'Are you sure to approve login for this user?' } %></td>
      <td><%= link_to 'Refuse', user_path(user), method: :refuse, data: { confirm: 'Are you sure to refuse login to this user?' } %></td>
      <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <% end %>
</table>
<hr/>

<!--- Contributors table for admin-->
<!--  link_to 'Refuse', edit_user_path(user) if permitted_to? :update, user -->
<h1><a id='C'>Listing Contributors</a></h1>
<a href='#V'>Jump to list of Volunteers</a>
 
<table id="customers">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Location</th>
    <th>Contact Number</th>
    <th>Role</th>
    <th>Login Approval</th>
    <th colspan="5"></th>
  </tr>
 
  <% @users.each do |user| %>
  <% if user.role == 'Contributor' %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= user.gender %></td>
      <td><%= user.email %></td>
      <td><%= user.location %></td>
      <td><%= user.contact %></td>
      <td><%= user.role %></td>
      <td><%= user.login_approval %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Approve', edit_user_path(user) %></td>
      <td><%= link_to 'Refuse', edit_user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <% end %>
</table>
<hr/>

<% end %>



<!--- Contributors table for volunteers-->
<% if current_user.role == 'Volunteer' %>

<h1>Listing Contributors</h1>
 
<!-- table class="reference" style="width:45%; border:5; cellpadding:4; cellspacing:3" -->
<table id="customers">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Location</th>
    <th>Contact Number</th>
    <th>Role</th>
    <th>Login Approval</th>
    <th colspan="3"></th>
  </tr>
 
  <% @users.each do |user| %>
  <% if user.role == 'Contributor' %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= user.gender %></td>
      <td><%= user.email %></td>
      <td><%= user.location %></td>
      <td><%= user.contact %></td>
      <td><%= user.role %></td>
      <td><%= user.login_approval %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Approve', edit_user_path(user) %></td>
      <td><%= link_to 'Refuse', edit_user_path(user) %></td>
    </tr>
  <% end %>
  <% end %>
</table>
<hr/>

<% end %>
